@model Models.Function.PageInfo<Models.EF.tblProduct>
<table id="simple-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            </th>
            <th style="width:200px">Name</th>
            <th style="width:100px">Images</th>
            <th class="hidden-480">Prices</th>

            <th>
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                CreateDate
            </th>
            <th class="hidden-480">Status</th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ListItem)
        {
            <tr id="@item.ProductID">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </td>

                <td>
                    <a href="#">@item.NameProduct</a>
                </td>
                <td>
                    @if (item.ImagesMain != "")
                    {
                        <img src="~/Skin/images/@item.ImagesMain" style="width:100px; height:100px;" alt="Alternate Text" />
                    }
                    else
                    { 
                    <img src="~/Skin/images/emple.png" style="width:100px; height:100px;" alt="Alternate Text" />
                    }
                
                </td>
                <td class="hidden-480">@item.Price</td>
                <td>@item.CreateDate</td>

                <td class="hidden-480">
                    @if (item.Status == false)
                    {
                        <span class="label label-sm label-warning">Not Active</span>
                    }
                    else
                    {
                        <span class="label label-sm label-success">Active</span>
                    }
                </td>

                <td>
                    <div class="hidden-sm hidden-xs btn-group">

                        <button class="btn btn-xs btn-info" onclick="_filldata(@item.ProductID)" data-toggle="modal" data-target="#editProduct">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>

                        <button type="submit" class="btn btn-xs btn-danger" onclick="_deleteProduct(@item.ProductID)">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>

                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline pos-rel">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                        <span class="blue">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="row">
    <div class="col-xs-6">
        <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite" style="text-align: right; font-size: xx-large;">Trang :@Model.CurrentPage</div>
        
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
            @{var inc = Model.CurrentPage + 1; var des = Model.CurrentPage - 1;}

            @*<a href="javascript:_pagela(@inc)">&raquo;</a>*@
            <ul class="pagination">
                @for (var i = 1; i <= @Model.pageCount; i++)
                {
                    <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
                        <a class="page_@i" href="javascript:_pagela(@i)">@i</a>
                    </li>

                }
            </ul>

            @*<a href="javascript:_pagela(@des)">&laquo;</a>*@
        </div>
        </div>

</div>