@model List<EShop.Models.Product>
@{
    ViewBag.Title = "List of Products";
}
<h2>List of Products</h2>

@foreach (var item in Model)
{
    <div class="col-sm-6 nn-product">
        <div class="panel panel-default">
            <div class="panel-heading">@item.Name</div>
            <div class="panel-body">
                <a href="/Product/Detail/@item.Id">
                    <img src="~/images/products/@item.Image" />
                </a>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-left">@Html.FormatValue(item.UnitPrice, "{0:c}")/@item.UnitBrief</div>
                    <div class="pull-right" data-id="@item.Id">
                        @Html.Partial("_Buttons")
                    </div>
                </div>
            </div>
            @if (item.Special)
            {
                <img src="~/images/special_icon.gif" />
            }
            else if (item.Latest)
            {
                <img src="~/images/new_icon.gif" />
            }
            else if (item.Discount > 0)
            {
                <img src="~/images/promo_icon.gif" />
            }
        </div>
    </div>
}

@Html.Partial("_Dialog")