@using SiteOrg.i18n;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("a[data-lang]").click(function () {
                var lang = $(this).attr("data-lang");
                var expiry = new Date();
                expiry.setDate(expiry.getDate() + 30);
                document.cookie = "lang=" + lang + ";expires=" + expiry.toGMTString() + ";path=/";
                location.reload();
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Sharer.Company, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Sharer.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Sharer.About, "About", "Home")</li>
                    <li>@Html.ActionLink(Sharer.Contact, "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-lang="vi">Tiếng Việt</a></li>
                    <li><a href="#" data-lang="en">English</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <article class="col-sm-9">
                @RenderBody()
            </article>
            <aside class="col-sm-3">
                <div class="row">
                    @Html.Partial("_Search")
                    @Html.Action("_Category", "Home")
                </div>
            </aside>
        </div>
        <footer class="row">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

   
</body>
</html>
