@model RazorNHelper.Models.Student
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(s => s.Id)
        @Html.TextBoxFor(s => s.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Password)
        @Html.TextBoxFor(s => s.Password, new { 
       @class="form-control", 
       placeholder="Mật khẩu",
       data_lang="123"
   })
    </div>
}

<ul>
    <li>@Model.Id</li>
    <li>@Model.Password</li>
</ul>