@using Doan_26.Ultils
@{
    ViewBag.Title = "Index";
}

<h2>Your Shopping Cart</h2>

@if (XSession.Cart.Count == 0)
{
    <h3 class="text-center alert alert-danger">YOUR IS EMTPTY</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th> STT</th>
                <th>Tên sản phẩm</th>
                <th> Hình ảnh</th>
                <th>Giá mới</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in XSession.Cart.Items)
            {
                <tr>
                    <td>@p.ProductID</td>
                    <td>@p.NameProduct</td>
                    <td>
                        <img src="~/Skin/images/@p.ImagesMain" />
                    </td>
                    <td>@Html.FormatValue(p.PriceNews,"{0:c}")</td>
                     <td>
                         <input type="text" value="@p.Quantity" />
                     </td>
                    <td>@Html.FormatValue((p.Quantity * p.PriceNews), "{0:c}")</td>
                    <td>
                        <button class="btn btn-sm btn-default nn-remove-from-cart" data-id="@p.ProductID">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-default" href="/Cart/Clear">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </a>
        <a class="btn btn-default" href="/Order/Checkout">
            Checkout <span class="glyphicon glyphicon-hand-right"></span>
        </a>
    </div>
}
