@model EShop.Models.Customer
@{
    ViewBag.Title = "Cập nhật tài khoản";
}

<div class="panel panel-default">
    <div class="panel-heading">CẬP NHẬT TÀI KHOẢN</div>
    <div class="panel-body">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Edit", "Account",
            FormMethod.Post, new { enctype = "multipart/form-data" })) 
        {
            <div class="form-group">
                <label>Tên đăng nhập</label>
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly="true" })
            </div>
            <div class="form-group">
                <label>Mật khẩu</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Họ và tên</label>
                @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Hình</label>
                <input type="file" name="UpPhoto" class="form-control"/>
                @Html.HiddenFor(m => m.Photo)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Activated)
                <button class="btn btn-danger">Cập nhật</button>
            </div>
        }
    </div>
</div>