@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<script src="/Slideshow/js/modernizr.custom.63321.js"></script>
<script src="/Slideshow/js/jquery.catslider.js"></script>
<link href="/Slideshow/css/catslider.css" rel="stylesheet" />

<style>
    .mi-slider {
        height: 330px;
    }

        .mi-slider ul li img {
            height: 200px;
        }
</style>
<script>
        $(function () {
            showCatSlider('.mi-slider', 5000);
        });
</script>

<!--Slide show-->
<div class="mi-slider">
    @foreach (var c in ViewBag.Cate5 as List<EShop.Models.Category>)
    {
        var items = c.Products.OrderBy(p=>Guid.NewGuid()).Take(4);
        <ul>
            @foreach (var p in items)
            {
                <li>
                    <a href="/Product/Detail/@p.Id">
                        <img src="~/images/products/@p.Image" />
                        <h4>@p.UnitPrice</h4>
                    </a>
                </li>
            }
        </ul>
    }
    <nav>
        @foreach (var c in ViewBag.Cate5)
        {
            <a href="#">@c.Name</a>
        }
    </nav>
</div>

<!--Special-->
@foreach (var item in ViewBag.Specials)
{
    <div class="col-sm-6 nn-product">
        <div class="panel panel-default">
            <div class="panel-heading">@item.Name</div>
            <div class="panel-body">
                <a href="/Product/Detail/@item.Id">
                    <img src="~/images/products/@item.Image" />
                </a>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-left">@Html.FormatValue(item.UnitPrice, "{0:c}")/@item.UnitBrief</div>
                    <div class="pull-right" data-id="@item.Id">
                        @Html.Partial("_Buttons")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_Dialog")