<div class="panel panel-default">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Unit Brief</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Supplier</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in ViewBag.Items as List<EShop.Models.Product>)
            {
                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.Name</td>
                    <td>@Item.UnitPrice</td>
                    <td>@Item.UnitBrief</td>
                    <td>@Item.Quantity</td>
                    <td>@Item.Category.NameVN</td>
                    <td>@Item.Supplier.Name</td>
                    <td>
                        <a href="@ViewBag.Controller/Edit/@Item.Id" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a href="@ViewBag.Controller//Delete/@Item.Id" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>