@model DataSharing.Models.Student
@{
    ViewBag.Title = "Detail";
}

<h2>ViewBag và ViewData</h2>
<ul>
    <li>Id: @ViewBag.Id</li>
    <li>Name: @ViewData["Name"]</li>
    <li>Mark: @ViewBag.Mark</li>
</ul>

<h2>Model</h2>
<ul>
    <li>Id: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Mark: @Model.Mark</li>
</ul>