
@{
    ViewBag.Title = "Index";
}

<h2>Your Shopping Cart</h2>

@if (XSession.Cart.Count == 0)
{
    <h3 class="text-center alert alert-danger">YOUR IS EMTPTY</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in XSession.Cart.Items)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@Html.FormatValue(p.UnitPrice, "{0:c}")</td>
                    <td>@Html.FormatValue(p.Discount, "{0:p}")</td>
                    <td>
                        <input value="@p.Quantity" type="number" min="1" style="width:50px"
                               class="nn-update-cart"
                               data-id="@p.Id"
                               data-price="@p.UnitPrice"
                               data-discount="@p.Discount" />
                    </td>
                    <td class="nn-amount">@Html.FormatValue((p.Quantity * p.UnitPrice * (1 - p.Discount)), "{0:c}")</td>
                    <td>
                        <button class="btn btn-sm btn-default nn-remove-from-cart" data-id="@p.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-default" href="/Cart/Clear">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </a>
        <a class="btn btn-default" href="/Order/Checkout">
            Checkout <span class="glyphicon glyphicon-hand-right"></span>
        </a>
    </div>
}
