@model DataSharing.Models.Product
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<img src="~/images/products/@Model.Image" />
<ul>
    <li>Id: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Unit Price: @Model.UnitPrice</li>
    <li>Description: @Model.Description</li>
</ul>

<h3>Các sản phẩm đã xem</h3>
<ul>
    @foreach (var p in ViewBag.IdList)
    {
        <li>
            <a href="/Product/Detail/@p.Id">@p.Name</a>
        </li>
    }
</ul>