@model EShop.Models.Customer

@using (Html.BeginForm("Index", "Customer", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right text-danger">@TempData["Message"]</div>
            <div class="form-group">
                <label>Id</label>
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Email Address</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Activated?</label>
                <div class="form-control">
                    <label>@Html.RadioButtonFor(m => m.Activated, true) Yes</label>
                    <label>@Html.RadioButtonFor(m => m.Activated, false) No</label>
                </div>
                
            </div>

            <div class="form-group">
                <label>Photo</label>
                <input name="UpPhoto" type="file" class="form-control"/>
                @Html.HiddenFor(m => m.Photo)
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default" formaction="@ViewBag.Controller/Insert">
                <span class="glyphicon glyphicon-save"></span> Create
            </button>
            <button class="btn btn-default" formaction="@ViewBag.Controller/Update">
                <span class="glyphicon glyphicon-saved"></span> Update
            </button>
            <button class="btn btn-default" formaction="@ViewBag.Controller/Delete">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <a class="btn btn-default" href="@ViewBag.Controller/Index">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
}