<div class="panel panel-default">
    <div class="panel-heading">ORDER DETAILS</div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model as IEnumerable<EShop.Models.OrderDetail>)
            {
                <tr>
                    <td>@Item.Product.Id</td>
                    <td>@Item.Product.Name</td>
                    <td>@Item.UnitPrice</td>
                    <td>@Item.Quantity</td>
                    <td>@Item.Discount</td>
                    <td>@(Item.UnitPrice*Item.Quantity*(1-Item.Discount))</td>
                </tr>
            }
        </tbody>
    </table>
</div>