
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>
<table class="table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Sum</th>
            <th>Count</th>
            <th>Min</th>
            <th>Max</th>
            <th>Avg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Group</td>
                <td>@r.Sum</td>
                <td>@r.Count</td>
                <td>@r.Min</td>
                <td>@r.Max</td>
                <td>@r.Avg</td>
            </tr>
        }
    </tbody>
</table>
